# 복사해서 application-local.yml 로 만들고 값을 채우세요. (application-local.yml은 git 제외)
spring:
  datasource:
    url: jdbc:postgresql://<HOST>/<DB>?sslmode=require
    username: <USER>
    password: <PASSWORD>

app:
  jwt:
    # 256비트 이상 랜덤 문자열. 생성: openssl rand -base64 48
    secret: <RANDOM_SECRET>
